## Build outputs
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]ogs/
[Gg]enerated/

## Visual Studio & IDE files
.vs/
.vscode/launch.json
.idea/
*.user
*.userprefs
*.suo
*.userosscache
*.sln.docstates
*.VisualState.xml

## .NET Core / C# outputs & temp files
*.dll
*.exe
*.pdb
*.mdb
*.nupkg
*.snupkg
*.symbols.nupkg
*.deps.json
*.runtimeconfig.json
*.runtimeconfig.dev.json

## Test & Coverage Results
[Tt]est[Rr]esults/
*.trx
*.coverage
*.coveragecleared
coverage/
BenchmarkDotNet.Artifacts/
TestResult.xml
nunit-*.xml
StyleCopReport.xml

## Operating System & Temp files
.DS_Store
Thumbs.db
desktop.ini
*.log
*.tmp
mono_crash.*

## Project specific lock files / artifacts
project.lock.json
project.fragment.lock.json
artifacts/
